<%= if @changeset.action do %>
    <div class="alert alert-danger">
        <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
<% end %>

<h1>New User</h1>

<%= form_for @changeset, Routes.user_path(@conn, :create), fn f -> %>
    <div>
        <%= text_input f, :name, placeholder: "Name" %>
        <%= error_tag f, :name %>
    </div>
    <div>
        <%= text_input f, :username, placeholder: "Username" %>
        <%= error_tag f, :username %>
    </div>
    <div>
        <%= password_input f, :password, placeholder: "Password" %>
        <%= error_tag f, :password %>
    </div>
    <%= submit "Create User" %>
<% end %>
